{% if current_user.is_authenticated%}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#" style="place-self: normal;">Visa</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    <hr>
    </li>
  </ul> -->
</nav>

<style type="text/css">
  a:hover {
    color: blue;
  }
  hr{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
         {% if current_user.is_authenticated%}

         <li class="nav-item">
          <div style="font-size: xxx-large;text-align-last: center;">

            <i class="fa fa-user-circle"></i>
            <p style="    font-size: medium;"> {{current_user.first_name}} {{current_user.last_name}} </p>
          </div>
          <hr>
          <hr>

          <li class="nav-item">
            <a class="nav-item nav-link" href="{{url_for('home')}}"><i class="fa fa-home"></i> Dashboard</a>
            <hr>
          </li>
          <li class="nav-item">
            <span class="nav-item nav-link" ><i class="fa fa-bitcoin"></i> Your Points <span style="background-color: darkcyan;color: white;font-size: 12px;padding: 2px;padding-left: 5px;padding-right: 5px;border-radius: 20px;font-weight: 600;">{{ current_user.points}} </span></span>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{url_for('rewards')}}"><i class="fa fa-trophy"></i> Your Rewards</a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="#"><i class="fa fa-cc-visa"></i> Your Coupons </a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="#"><i class="fa fa-address-card"></i> Your profile</a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i> Logout</a>
            <hr>
          </li>
          {%else%}
          <li class="nav-item">

            <a class="nav-item nav-link" href="{{url_for('login')}}"> <i class="fa fa-sign-in"></i> Login</a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{url_for('register')}}"><i class="fa fa fa-user-o"></i> Register</a>
            <hr>
          </li>
          {%endif%}
            <!-- <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Orders
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Products
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Customers
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Integrations
              </a>
            <hr>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
              </a>
            <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Year-end sale
              </a>
            <hr>
          </li> -->
        </ul>
      </div>
    </nav>
    {%endif%}